---
import Section from "../Section.astro";
---

<Section class="text-center">
  <h2 class="text text-center font-bold mb-4">
    <span class="text-orange-800">TRACTARI</span>
    <span>-PLATFORMA.RO</span>
  </h2>
  <p class="text-sm">
    Tractări auto non-stop în orice situație, indiferent de anotimp, cu o
    acoperire națională. Orice avarie ar fi, puteți conta pe noi.
  </p>
  <p class="text-sm">
    Efectuăm servicii de tractări auto, transport autoturisme, transport auto de
    teren, transport dube și dubițe, transport van-uri, transport rulote și
    autorulote, transport bărci, transport ATV-uri și utilaje agricole.
  </p>

  <ul class="my-4 flex flex-col gap-2 text-start md:grid grid-cols-2">
    <li class="border px-4 py-2 rounded-lg">
      <article class="flex items-center justify-between">
        <p class="text-sm font-bold">Rapiditate în intervenție</p>
        <img src="/timer.webp" alt="timer" class="w-16 h-16" />
      </article>
    </li>
    <li class="border px-4 py-2 rounded-lg">
      <article class="flex items-center justify-between">
        <p class="text-sm font-bold">
          Servicii pentru orice categorie de clienți
        </p>
        <img src="/towing.webp" alt="timer" class="w-16 h-16" />
      </article>
    </li>
    <li class="border px-4 py-2 rounded-lg">
      <article class="flex items-center justify-between">
        <p class="text-sm font-bold">Promptitudine în preluarea comenzilor</p>
        <img src="/call_center.webp" alt="timer" class="w-16 h-16" />
      </article>
    </li>
    <li class="border px-4 py-2 rounded-lg">
      <article class="flex items-center justify-between">
        <p class="text-sm font-bold">Servicii de calitate</p>
        <img src="/certificate.webp" alt="timer" class="w-16 h-16" />
      </article>
    </li>
  </ul>
</Section>
