---
import Section from "@components/Section.astro";
import CheckCircleIcon from "@components/icons/CheckCircleIcon.astro";
---

<Section class="text-center">
  <h2 class="text-lg font-bold mb-4">Servicii</h2>
  <p class="text-sm">
    Firma noastră este specializată în servicii complete de tractări cu
    platformă auto și asistență rutieră. La cerere, ne putem deplasa oriunde în
    țară. Oferim asistență imediată și suport pentru soluționarea cât mai rapidă
    a incidentului prin tractare auto a vehiculului dvs.
  </p>
  <p class="text-sm">
    Transportăm orice fel de autoturism sau utilaj indiferent de starea sa (roți
    rupte, accident).
  </p>

  <article class="border rounded-lg my-4 p-4">
    <h3 class="font-semibold">Tractări</h3>
    <ul class="text-sm my-4">
      <li class="flex items-center justify-between gap-8">
        <span>Tractări Dube</span>
        <CheckCircleIcon class="w-6 h-6 text-orange-800" />
      </li>
      <li class="flex items-center justify-between gap-8">
        <span>Transport auto ITP</span>
        <CheckCircleIcon class="w-6 h-6 text-orange-800" />
      </li>
      <li class="flex items-center justify-between gap-8">
        <span>Transport auto la service</span>
        <CheckCircleIcon class="w-6 h-6 text-orange-800" />
      </li>
      <li class="flex items-center justify-between gap-8">
        <span>Transport auto la RAR</span>
        <CheckCircleIcon class="w-6 h-6 text-orange-800" />
      </li>
    </ul>

    <a
      href="tel:+40760770913"
      class="block px-4 py-2 border-2 bg-orange-100 border-orange-800 text-sm font-semibold rounded-full"
    >
      CERE OFERTĂ
    </a>
  </article>
</Section>
